"parameters": {
    "adminUsername": {
      "type": "string",
      "metadata": {
        "description": "Username for the Virtual Machine."
      }
    },
    "sshKeyData": {
       "type": "string",
       "metadata": {
          "description": "SSH RSA public key file as a string. It should be in the form ssh-rsa AAAAB3..Jol azureuser@domain.com"
       }
    },
    "dnsLabelPrefix": {
      "type": "string",
      "metadata": {
        "description": "Unique DNS Name for the Public IP used to access the Virtual Machine."
      }
    }
}
