"variables": {
    "adminUsername"                : "[parameters('adminUsername')]",
    "sshKeyData"                   : "[parameters('sshKeyData')]",
    "sshKeyPath"                   : "[concat('/home/',variables('adminUsername'),'/.ssh/authorized_keys')]",
    "dnsLabelPrefix"               : "[parameters('dnsLabelPrefix')]",
    "vmSize": "Standard_D1",
    "OSVersion"                    : "7.2",
    "location": "[resourceGroup().location]",
    "sizeOfDiskInGB": "100",
    "dataDisk1VhdName": "datadisk1",
    "imagePublisher": "OpenLogic",
    "imageOffer": "CentOS",
    "OSDiskName": "osdisk",
    "nicName": "myVMNic",
    "addressPrefix": "10.0.0.0/16",
    "subnetName": "Subnet",
    "subnetPrefix": "10.0.0.0/24",
    "storageAccountType": "Standard_LRS",
    "publicIPAddressName": "myPublicIP",
    "publicIPAddressType": "Dynamic",
    "vmStorageAccountContainerName": "vhds",
    "virtualNetworkName": "MyVNET",
    "apiVersion": "2015-06-15",
    "networkSecurityGroupName" : "MyNSG"
}
