"variables": {
    "adminUsername"                : "[parameters('adminUsername')]",
    "adminPassword"                : "[parameters('adminPassword')]",
    "dnsLabelPrefix"               : "[parameters('dnsLabelPrefix')]",
    "vmSize": "Standard_D1",
    "OSVersion"                    : "7.1",
    "location": "[resourceGroup().location]",
    "sizeOfDiskInGB": "100",
    "dataDisk1VhdName": "datadisk1",
    "imagePublisher": "OpenLogic",
    "imageOffer": "CentOS",
    "OSDiskName": "osdisk",
    "nicName": "myVMNic",
    "addressPrefix": "10.0.0.0/16",
    "subnetName": "Subnet",
    "subnetPrefix": "10.0.0.0/24",
    "storageAccountType": "Standard_LRS",
    "publicIPAddressName": "myPublicIP",
    "publicIPAddressType": "Dynamic",
    "vmStorageAccountContainerName": "vhds",
    "virtualNetworkName": "MyVNET",
    "vnetID": "[resourceId('Microsoft.Network/virtualNetworks',variables('virtualNetworkName'))]",
    "subnetRef": "[concat(variables('vnetID'),'/subnets/',variables('subnetName'))]",
    "apiVersion": "2015-06-15",
    "networkSecurityGroupName" : "MyNSG"
}
