{
  {% include 'azure-jinja2/includes/header.json.j2' %}
  ,
  {% include 'includes/parameters.json.j2' %}
  ,
  {% include 'includes/variables.json.j2' %}
  ,
  {% include 'includes/resources.json.j2' %}
}
